! configuration générée automatiquement
enable
conf t
banner login ? {{msg_login}} ?
banner motd ? {{msg_motd}} ?
!
hostname {{hostname}}
!
enable secret {{passw_priv}}
service password-encryption
!
line console 0
password {{passw_console}}
login
exit
!
line vty 0 15
password {{passw_vty}}
login
end
exit
