
enable
conf t
{% for int in interfaces_access -%}
! Configuration généré automatiquement
interface  {{int[0]}}
switchport mode access
switchport access {{int[1]}}
exit
{% endfor -%}

interface GigabitEthernet 0/1
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 1
switchport trunk allowed vlan 10-12
end
exit
