hostname {{ hostname }}
ip name-server {{ dns_server }}
!
{% for int in interfaces %}
! Configuration généré automatiquement
interface {{ int['name'] }}
description {{ int['description']|upper }}
  {% if int['ip'] %}
ip address {{ int['ip'] }} {{ int['mask'] }}
  {% endif %}
  {% if int['enabled'] %}
no {% endif %}shutdown
{% endfor %}
