{% for int in interfaces %}
! Configuration généré automatiquement
interface {{ int['Interface'] }}
description lien vers "{{ int['Serveur'] }}" port "{{ int['Lien'] }}" pour "{{ int['But'] }}"
switchport
{% if int['VLAN'] == "trunk" -%}
  switchport mode trunk
{% else -%}
switchport mode access
switchport access vlan {{ int['VLAN'] }}
spanning-tree port type edge
{% endif -%}
no shutdown
{% endfor %}
